/*
    Top sale
*/

#top-sale #t-s-chart .ct-series-a .ct-line {
    stroke: #1abc9c;
    stroke-width: 2px;
}
#top-sale #t-s-chart .ct-grid {
    stroke: transparent;
}
#top-sale h6 {
    font-weight: 600;
    color: #000;
    font-size: 20px;
}
#top-sale p.t-s-stats {
    color: #888ea8;
    font-size: 22px;
}
#top-sale .media i {
    color: #1abc9c;
    font-size: 20px;
}
#top-sale .media .media-body p {
    font-weight: 600;
    color: #000;
    font-size: 15px;
}

#top-sale2 #t-s-chart2 .ct-series-a .ct-line {
    stroke: #1abc9c;
    stroke-width: 2px;
}
#top-sale2 #t-s-chart2 .ct-grid {
    stroke: transparent;
}
#top-sale2 h6 {
    font-weight: 600;
    color: #000;
    font-size: 20px;
}
#top-sale2 p.t-s-stats {
    color: #888ea8;
    font-size: 22px;
}
#top-sale2 .media i {
    color: #1abc9c;
    font-size: 20px;
}
#top-sale2 .media .media-body p {
    font-weight: 600;
    color: #000;
    font-size: 15px;
}


/*
    Total Booking
*/

#total-booking h6 {
    font-weight: 600;
    color: #3b3f5c;
    font-size: 20px;
}
#total-booking p.t-b-stats {
    font-size: 46px;
    color: #00b1f4;
}
#total-booking p.t-b-stats i {
    font-size: 30px;
    vertical-align: middle;
}
#total-booking p.t-b-price {
    font-size: 16px;
    color: #000;
    font-weight: 600;
}
#total-booking span.badge {
    padding: 6px 21px;
}


/*
    Total Reviews
*/
#total-reviews h6 {
    font-weight: 600;
    color: #3b3f5c;
    font-size: 20px;
}
#total-reviews #t-r-chart {
    position: relative;
    width: 115px;
    height: 115px;
}
#total-reviews #t-r-chart .t-r-progress-value {
    font-weight: 600;
    font-size: 27px;
}
#total-reviews .media.positive-stats {
    word-break: break-all;
}
#total-reviews .media.positive-stats img {
    width: 40px;
}
#total-reviews .media.positive-stats h6 {
    color: #3862f5;
    font-weight: normal;
    font-size: 18px;
}
#total-reviews .media.positive-stats p {
    color: #1d1d1d;
    font-size: 14px;
}
#total-reviews .media.negative-stats {
    word-break: break-all;
}
#total-reviews .media.negative-stats img {
    width: 40px;
}
#total-reviews .media.negative-stats h6 {
    color: #ee3d50;
    font-weight: normal;
    font-size: 18px;
}
#total-reviews .media.negative-stats p {
    color: #1d1d1d;
    font-size: 14px;
}


/*
    Total Services
*/
#total-services h6 {    
    font-weight: 600;
    color: #3b3f5c;
    font-size: 20px;
}
#total-services .t-s-stats {
    color: #888ea8;
    font-size: 21px;
}
#total-services .t-s-profit-price {
    font-size: 14px;
    color: #000;
}
#total-services .t-s-profit-price span {
    font-weight: 600;
}
#total-services .t-s-profit-price i {
    color: #1abc9c;
}
#total-services #t-services-chart .ct-grid {
    stroke: transparent;
}
#total-services #t-services-chart .ct-series-a .ct-bar {
    stroke: #f8538d;
    stroke-width: 6px;
}
#total-services #t-services-chart .ct-series-b .ct-bar {
    stroke: #f8538d;
    stroke-width: 6px;
}


/*
    Revenue Statistics
*/

.revenue-statistics .revenue-statistics-title h6 {
    font-weight: 600;
    color: #3b3f5c;
    font-size: 20px;
}
.revenue-statistics .revenue-statistics-body #revenue-stats {
    margin-top: 7rem;
}
.r-s-bottom-section span {
    font-size: 18px;
    color: #1d1d1d;
}
#revenue-stats .ct-series-a .ct-slice-donut {
    stroke: #6156ce;
    stroke-width: 32px;
}
#revenue-stats .ct-series-b .ct-slice-donut {
    stroke: #25d5e4;
    stroke-width: 32px;
}
#revenue-stats .ct-series-c .ct-slice-donut {
    stroke: #ffbb44;
    stroke-width: 32px;
}
#revenue-stats .ct-label {
    fill: #fff;
}
.r-s-bottom-section .r-s-car-sales .d-m-r-s-car {
    border: 2px solid #805dca;
    height: 18px;
    width: 17px;
}
.r-s-bottom-section .r-s-car-services .d-m-r-s-services {
    border: 2px solid #25d5e4;
    height: 18px;
    width: 17px;
}
.r-s-bottom-section .r-s-car-rental .d-m-r-s-rental {
    border: 2px solid #ffbb44;
    height: 18px;
    width: 17px;
}

.r-s-bottom-section .r-s-car-rental2 .d-m-r-s-rental {
    border: 2px solid #d17905;
    height: 18px;
    width: 17px;
}
.r-s-bottom-section p {
    font-size: 16px;
    color: #1d1d1d;
}


/*
    Top Seller
*/
.top-seller-container .top-seller-header h6 {
    font-weight: 600;
    color: #3f4257;
}
.top-seller-container .top-seller-header .t-s-car-name {
    font-weight: 600;
    color: #3b3f5c;
    font-size: 18px;
}
.top-seller-container .top-seller-header .t-s-rating i.flaticon-star-fill {
    font-size: 20px;
    color: #ff3743;
}
.top-seller-container .top-seller-header .t-s-rating i.flaticon-star-outline {
    font-size: 20px;
    color: #888ea8;
}
.top-seller-container .top-seller-body .t-s-car-sold-number {
    font-weight: 600;
    color: #000;
    font-size: 20px;
    vertical-align: middle;
}
.top-seller-container .top-seller-body .t-s-car-price {
    font-weight: 600;
    color: #e7515a;
    font-size: 18px;
}
.top-seller-container .top-seller-body button.btn {
    background-image: linear-gradient(-20deg, #fc6076 0%, #ff9a44 100%);
    border: none;
    padding: 7px 30px;
}

.top-seller-container .top-seller-body button.btn:hover {
    background-image: linear-gradient(-20deg, #ff9a44 0%, #fc6076 100%);
    border: none;
}


/*
    Top Rented Cars
*/

.top-rented-cars-container .top-rented-cars-header {
    padding: 20px;
    border-bottom: 1px solid #e9ecef;  
}
.top-rented-cars-container .top-rented-cars-header h6 {
    font-weight: 600;
    color: #3b3f5c;
    font-size: 20px;
}
.top-rented-cars-container .top-rented-cars-body table.table td,
.top-rented-cars-container .top-rented-cars-body table.table th {
    border: none;
    padding: 15px 20px;
    vertical-align: middle;
}
.top-rented-cars-container .top-rented-cars-body table.table td .media span.t-r-cars-short-name {
    padding: 11px 0;
    background-color: #000;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
}
.top-rented-cars-container .top-rented-cars-body table.table td .media .media-body h6 {
    font-weight: 600;
    color: #3b3f5c;
    font-size: 18px;
}
.top-rented-cars-container .top-rented-cars-body table.table td .media .media-body .t-r-rating span {
    font-weight: 600;
    color: #3b3f5c;
    font-size: 25px;
}
.top-rented-cars-container .top-rented-cars-body table.table td .media .media-body .t-r-rating .t-r-rating-star i.flaticon-star-fill {
    color: #ff3743;
    font-size: 17px;
    vertical-align: text-top;
}
.top-rented-cars-container .top-rented-cars-body table.table td .media .media-body .t-r-rating .t-r-rating-star i.flaticon-star-outline {
    color: #888ea8;
    font-size: 17px;
    vertical-align: text-top;
}
.top-rented-cars-container .top-rented-cars-body table.table td div.t-r-usr i {
    font-size: 20px;
    color: #816cfd;
}
.top-rented-cars-container .top-rented-cars-body table.table td div.t-r-usr span {
    font-size: 18px;
    color: #3b3f5c;
}
@media all and (-ms-high-contrast:none) {
    .top-rented-cars-container .top-rented-cars-body table.table td .media .media-body {
        flex: none; 
    }
}


/*
    Income
*/

#income-widget h6 {
    font-size: 26px;
    text-transform: uppercase;
    color: #3b3f5c;
}
#income-widget span.badge-primary {
    vertical-align: middle;
    padding: 6px 22px;
    font-size: 15px;
    margin-left: 10px;
}
#income-widget p {
    font-size: 46px;
    color: #3b3f5c;
    font-weight: 600;
}


/*
    Expenses
*/

#expenses-widget h6 {
    font-size: 26px;
    text-transform: uppercase;
    color: #3b3f5c;
}
#expenses-widget span.badge-success {
    vertical-align: middle;
    padding: 6px 22px;
    font-size: 15px;
    margin-left: 10px;
}
#expenses-widget p {
    font-size: 46px;
    color: #3b3f5c;
    font-weight: 600;
}


/*
    Top Sales Person
*/

.top-sales-person.widget-card .media {
    padding: 10px 20px 0 20px;
}
.top-sales-person.widget-card .media img {
    width: 55px;
}
.top-sales-person.widget-card .media .media-body h5 {
    color: #000;
    font-size: 18px;
}
.top-sales-person.widget-card .media .media-body .t-s-p-social-media i {
    font-size: 17px;
    margin-right: 4px;
}
.top-sales-person.widget-card .progress {
    font-size: 17px;
    margin-right: 5px;
    border-radius: 30px;
    margin-top: 8px;
    height: 6px;
}
.top-sales-person.widget-card .progress .progress-bar {
    border-radius: 30px;
    background-color: #25d5e4!important;
    border-color: #25d5e4!important;
}
.top-sales-person.widget-card .t-s-p-rating {
    color: #000;
    font-size: 17px;
}
.top-sales-person.widget-card .t-s-p-profile-stats .t-s-p-profile-stats-txt  {
    color: #000;
    word-wrap: break-word;
}
.top-sales-person.widget-card .t-s-p-profile-stats .t-s-p-profile-stats-value  {
    color: #000;
    font-size: 17px;
}


/*
    Top Drivers
*/

.top-drivers.widget-card {
    padding: 12px 0px;
}
.top-drivers.widget-card h5 {
    font-weight: 600;
    color: #1d1d1d;
    font-size: 21px;
}
.top-drivers.widget-card .usr-meta-img {
    position: relative;
    width: 70px;
    height: 70px;
}
.top-drivers.widget-card .usr-meta-img img {
    width: 100%;
    height: 100%;
    border: 4px solid #d3d3d3;
}
.top-drivers.widget-card .t-d-drive-stats p {
    font-size: 15px;
    font-weight: 600;
    color: #1d1d1d;
}
.top-drivers.widget-card .t-d-total-rev {
    font-weight: 600;
    color: #1d1d1d;
    font-size: 16px;
}
.top-drivers.widget-card .t-d-total-rev span {
    color: #e95f2b;
}
.top-drivers.widget-card .t-d-rating i {
    color: #e95f2b;
    font-size: 17px;
}


/*  
    Calendar
*/

.pignose-calendar {
    width: 100%;
    max-width: 100%;
    font-size: 100%;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: none;
}
.pignose-calendar .pignose-calendar-top {
    padding: 1em 0 1.9em;
    position: relative;
    overflow: hidden;
    background-color: #fff;
    border-bottom: 1px solid #e9ecef;
}
.pignose-calendar .pignose-calendar-top .pignose-calendar-top-date {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1em 0;
    text-align: center;
    text-transform: uppercase;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.pignose-calendar .pignose-calendar-top .pignose-calendar-top-year,
.pignose-calendar .pignose-calendar-top .pignose-calendar-top-month {
    display: inline-block;
    text-align: center;
}
.pignose-calendar .pignose-calendar-top .pignose-calendar-top-year {
    font-size: 140%;
    color: #1d1d1d;
    font-size: 22px;
    font-weight: 600;
}
.pignose-calendar .pignose-calendar-top .pignose-calendar-top-month {
    font-size: 120%;
    font-weight: 600;
    color: #1d1d1d;
    font-size: 22px;
    border-bottom: solid 1px #fff;
}
.pignose-calendar .pignose-calendar-top .pignose-calendar-top-nav {
    display: inline-block;
    width: 2.3em;
    height: 2.3em;
    position: relative;
    z-index: 5;
    text-decoration: none;
    border-radius: 50%;
}
.pignose-calendar .pignose-calendar-top .pignose-calendar-top-nav .pignose-calendar-top-value {
    display: inline-block;
    color: #777777;
    font-size: 115%;
    font-weight: 600;
    vertical-align: middle;
    margin-top: -10px;
}
.pignose-calendar .pignose-calendar-top .pignose-calendar-top-nav .pignose-calendar-top-icon {
    font-size: 18px;
    top: 4px;
    position: relative;
    vertical-align: middle;
    color: #c0c1c2;
}
.pignose-calendar .pignose-calendar-top .pignose-calendar-top-nav.pignose-calendar-top-prev .pignose-calendar-top-icon {
    left: 8px;
}
.pignose-calendar .pignose-calendar-top .pignose-calendar-top-nav.pignose-calendar-top-next .pignose-calendar-top-icon {
    left: 10px;
}
.pignose-calendar .pignose-calendar-top .pignose-calendar-top-nav.pignose-calendar-top-prev {
    float: left;
    margin-left: 0.6em;
}
.pignose-calendar .pignose-calendar-top .pignose-calendar-top-nav.pignose-calendar-top-next {
    float: right;
    margin-right: 0.6em;
}
.pignose-calendar .pignose-calendar-top .pignose-calendar-top-nav.pignose-calendar-top-prev .pignose-calendar-top-value {
    margin-left: .2em;
}
.pignose-calendar .pignose-calendar-top .pignose-calendar-top-nav.pignose-calendar-top-next .pignose-calendar-top-value {
    margin-right: .2em;
}
.pignose-calendar .pignose-calendar-header {
    font-weight: 600;
    overflow: hidden;
    color: #3b3f5c;
    background-color: transparent;
    margin-top: 18px;
    margin-bottom: 32px;
    padding: 0 25px;
}
.pignose-calendar .pignose-calendar-body {
    height: 100%;
    padding: 0 25px;
}
.pignose-calendar .pignose-calendar-header .pignose-calendar-week {
    float: left;
    width: 14.28%;
    height: 2.5em;
    text-align: center;
    line-height: 2.5em;
    font-size: 133%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: normal;
    color: #1d1d1d;
}
.pignose-calendar-week.pignose-calendar-week-su {
    color: #3862f5 !important;
}
.pignose-calendar .pignose-calendar-header .pignose-calendar-week.pignose-calendar-week-sun,
.pignose-calendar .pignose-calendar-header .pignose-calendar-week.pignose-calendar-week-sat {
    color: #1F3A93;
}
.pignose-calendar .pignose-calendar-header .pignose-calendar-week:last-child {
    width: 14.32%;
}
.pignose-calendar .pignose-calendar-body .pignose-calendar-row {
    overflow: hidden;
}
.pignose-calendar-unit {
    float: left;
    display: block;
    height: 4.6em;
    width: 14.28%;
    text-align: center;
    line-height: 2.8em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.pignose-calendar-unit.pignose-calendar-unit-su a {
    color: #3862f5;
}
.pignose-calendar-unit .pignose-calendar-button-schedule-container {
    line-height: .5em;
}
.pignose-calendar-unit .pignose-calendar-button-schedule-container .pignose-calendar-button-schedule-pin {
    display: inline-block;
    background-color: #777777;
    width: .5em;
    height: .5em;
    border-radius: 50%;
    margin-right: .2em;
}
.pignose-calendar-unit .pignose-calendar-button-schedule-container .pignose-calendar-button-schedule-pin:last-child {
    margin-right: 0;
}
.pignose-calendar-unit a {
    display: inline-block;
    width: 2.2em;
    height: 2.2em;
    border-radius: 50%;
    color: #1d1d1d;
    font-size: 18px;
    line-height: 2.2em;
    text-align: center;
    text-decoration: none;
    -webkit-transition: background-color .3s ease, color .3s ease;
    -moz-transition: background-color .3s ease, color .3s ease;
    transition: background-color .3s ease, color .3s ease;
}
.pignose-calendar-unit.pignose-calendar-unit-disabled a {
    opacity: .5;
    background-color: #efefef;
}
.pignose-calendar-unit a:active {
    background-color: #d8d8d8;
}
.pignose-calendar-unit.pignose-calendar-unit-range a {
    background-color: #f1f1f1;
    border-radius: 0;
    width: 100%;
}
.pignose-calendar-unit.pignose-calendar-unit-range.pignose-calendar-unit-disabled a {
    color: #b2b9bb;
    background-color: #e1e1e1;
}
.pignose-calendar-unit.pignose-calendar-unit-range.pignose-calendar-unit-range-first a {
    border-top-left-radius: 1.2em;
    border-bottom-left-radius: 1.2em;
}
.pignose-calendar-unit.pignose-calendar-unit-range.pignose-calendar-unit-range-last a {
    border-top-right-radius: 1.2em;
    border-bottom-right-radius: 1.2em;
}
.pignose-calendar.pignose-calendar-default .pignose-calendar-body .pignose-calendar-row .pignose-calendar-unit.pignose-calendar-unit-toggle-active a {
    color: #cccccc !important;
}
.pignose-calendar.pignose-calendar-reverse .pignose-calendar-body .pignose-calendar-row .pignose-calendar-unit.pignose-calendar-unit-toggle-inactive a {
    color: #cccccc !important;
}
.pignose-calendar-unit.pignose-calendar-unit-active a {
    background-image: linear-gradient(135deg, #6424c9 0%, #00b1f4 100%);
    color: #ffffff!important;
    font-weight: 600;
    border-radius: 10px;
}
.pignose-calendar-unit.pignose-calendar-unit-sun a,
.pignose-calendar-unit.pignose-calendar-unit-sat a {
    color: gray;
}
.pignose-calendar-unit.pignose-calendar-unit-active.pignose-calendar-unit-sun a,
.pignose-calendar-unit.pignose-calendar-unit-active.pignose-calendar-unit-sat a {
    color: #ffffff;
}
.pignose-calendar-unit a:hover {
    background-color: #6156ce;
    color: #fff!important;
    font-weight: 600;
}
.pignose-calendar-unit:last-child {
    width: 14.32%;
}
.pignose-calendar-wrapper {
    display: none;
    position: fixed;
    width: 80%;
    max-width: 360px;
    top: 50%;
    left: 50%;
    border-radius: 2px;
    z-index: 50001;
    overflow: hidden;
    -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0 4px 16px rgba(0, 0, 0, 1);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 1);
    -webkit-transform: translate3d(0, 160px, 0);
    -moz-transform: translate3d(0, 160px, 0);
    transform: translate3d(0, 160px, 0);
    opacity: 0;
    -webkit-transition: opacity .3s ease, transform .5s ease-out, -webkit-transform .5s ease-out;
    -moz-transition: opacity .3s ease, transform .5s ease-out, -webkit-transform .5s ease-out;
    transition: opacity .3s ease, transform .5s ease-out, -webkit-transform .5s ease-out;
}
.pignose-calendar-wrapper .pignose-calendar {
    max-width: auto;
    width: 100%;
    border: none;
}
.pignose-calendar-wrapper.pignose-calendar-wrapper-active {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.pignose-calendar-wrapper-overlay {
    background-color: #000000;
    opacity: 0;
    -webkit-transition: opacity .3s ease;
    -moz-transition: opacity .3s ease;
    transition: opacity .3s ease;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 50000;
}
.pignose-calendar-wrapper-overlay.pignose-calendar-wrapper-overlay-active {
    opacity: .7;
}
.pignose-calendar-wrapper .pignose-calendar .pignose-calendar-button-group {
    border-top: 1px solid #e2e2e2;
    overflow: hidden;
}
.pignose-calendar-wrapper .pignose-calendar .pignose-calendar-button-group .pignose-calendar-button {
    width: 50%;
    display: block;
    float: left;
    height: 3.2em;
    text-align: center;
    line-height: 3.2em;
    color: #333333;
    font-weight: 600;
    text-decoration: none;
    -webkit-transition: background-color .3s ease;
    -moz-transition: background-color .3s ease;
    transition: background-color .3s ease;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.pignose-calendar-wrapper .pignose-calendar .pignose-calendar-button-group .pignose-calendar-button:hover {
    background-color: #f1f1f1;
}
.pignose-calendar-wrapper .pignose-calendar .pignose-calendar-button-group .pignose-calendar-button-apply {
    color: #ffffff;
    background-color: #2fabb7;
}
.pignose-calendar-wrapper .pignose-calendar .pignose-calendar-button-group .pignose-calendar-button-apply:hover {
    background-color: #31b2c9;
}


/*
    Best Mechanics
*/
.best-mechanics-container .best-mechanics-header h6 {
    padding: 20px 20px 0 20px;
    font-weight: 600;
    color: #3b3f5c;
    font-size: 21px;
}
.best-mechanics-container .best-mechanics-body .tab-content .tab-pane .table th {
    border: none;
    color: #1d1d1d;
    font-size: 17px;
    vertical-align: middle;
    padding: 8px 35px;
}
.best-mechanics-container .best-mechanics-body .tab-content .tab-pane .table td {
    vertical-align: middle;
    color: #3b3f5c;
    font-weight: 600;
    padding: 12px 22px;
    font-size: 17px;
}
.best-mechanics-container .best-mechanics-body .tab-content .tab-pane .table td .media img {
    width: 42px;
    height: 42px;
}
.best-mechanics-container .best-mechanics-body .tab-content .tab-pane .table td .media .media-body h6 {
    font-weight: 600;
    color: #3b3f5c;
    font-size: 17px;
}
.best-mechanics-container .best-mechanics-body .tab-content .tab-pane .table td .caret.caret-earn-inc {
    position: relative;
    bottom: 17px;
    right: -9px;
    color: #1abc9c;
    border-top: 0px dashed;
    border-bottom: 10px solid;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
}
.best-mechanics-container .best-mechanics-body .tab-content .tab-pane .table td .caret.caret-earn-dec {
    position: relative;
    top: 17px;
    right: -9px;
    color: #e7515a;
    border-top: 10px dashed;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
}
.underline-content .nav-tabs {
    border-bottom: 1px solid #e9ecef;
}
.underline-content .nav-tabs li a {
    padding-top: 0;
    padding-bottom: 15px;
    font-size: 18px;
    color: #3b3f5c;
}
.underline-content .nav-tabs .nav-link {
    font-weight: 600;
}
.underline-content .nav-tabs .nav-link.active,
.underline-content .nav-tabs .show>.nav-link {
    border-color: transparent;
    border-bottom: 1px solid #e7515a;
    color: #e7515a;
    background-color: transparent;
    font-size: 18px;
}
.underline-content .nav-tabs .nav-link.active:hover,
.underline-content .nav-tabs .show>.nav-link:hover,
.underline-content .nav-tabs .nav-link.active:focus,
.underline-content .nav-tabs .show>.nav-link:focus {
    border-bottom: 1px solid #e7515a;
}
.underline-content .nav-tabs .nav-link:focus,
.underline-content .nav-tabs .nav-link:hover {
    border-color: transparent;
}


/*
    Driver List
*/
.statbox.widget.box.box-shadow.driver-list h4 {
    font-size: 20px;
}
.driver-list table.table thead tr th {
    cursor: pointer;
}
.driver-list table.table thead tr th {
    color: #3b3f5c;
    vertical-align: middle;
    font-weight: 600;
    font-size: 19px;
}
.driver-list table.table tbody tr td {
    color: #3b3f5c;
    font-size: 17px;
    vertical-align: middle;
    border-top: 1px solid #e9ecef;
}
.driver-list table.table tbody tr:hover td,
.driver-list table.table tbody tr:hover td .d-inline-block h6,
.driver-list table.table tbody tr:hover td i.flaticon-edit {
    color: #3862f5;
}
.driver-list table.table thead tr:hover th .new-control-indicator,
.driver-list table.table tbody tr:hover td .new-control-indicator {
    border-color: #1a73e9;
}
.driver-list table.table thead tr th .new-control-indicator,
.driver-list table.table tbody tr td .new-control-indicator {
    background-color: transparent;
    border: 1px solid #3b3f5c;
}
.driver-list table.table thead tr th .new-control.new-checkbox.checkbox-primary>input:checked~span.new-control-indicator,
.driver-list table.table tbody tr td .new-control.new-checkbox.checkbox-primary>input:checked~span.new-control-indicator {
    border: none;
}
.driver-list table.table tbody tr td .d-inline-block img {
    width: 48px;
    border: solid 3px #e9ecef;
}
.driver-list table.table tbody tr td .d-inline-block h6 {
    color: #3b3f5c;
    font-size: 18px;
}
.driver-list table.table tbody tr td .t-dot {
    height: 16px;
    width: 16px;
    border: 3px solid #e9ecef;
}
.driver-list table.table tbody tr td .d-l-available {
    background-color: #00d1c1;
}
.driver-list table.table tbody tr td .d-l-not-available {
    background-color: #888ea8;
}
.driver-list table.table tbody tr td .t-d-rating i {
    color: #e9b02b;
    font-size: 14px;
}
.driver-list table.table tbody tr td .t-d-rating i.flaticon-star-outline {
    color: #acb0c3;
    font-size: 14px;
}
.driver-list table.table tbody tr td i.flaticon-edit {
    color: #888ea8;
    font-size: 21px;
    cursor: pointer;
}


/*
    Task
*/

.todo-list .todo-list-header {
    padding: 20px;
    border-bottom: 1px solid #e9ecef;
}
.todo-list .todo-list-header h6 {
    font-weight: 600;
    color: #3b3f5c;
    font-size: 20px;
}
.todo-list .todo-list-header .time.time-style {
    font-size: 15px;
    font-weight: 600;
    color: #4f5163;
    padding: 2px 11px;
    background-color: #4073ff;
    border-radius: 30px;
}
.todo-list .todo-list-header .time #hour {
    color: #f5f5f5;
}
.todo-list .todo-list-header .time #minut {
    color: #f5f5f5;
}
.todo-list .todo-list-header .time #date {
    color: #fff;
    font-weight: 700;
}
.todo-list .todo-list-body table.table thead tr th,
.todo-list .todo-list-body table.table tbody tr td {
    border: none;
    vertical-align: middle;
}
.todo-list .todo-list-body table.table tbody tr td {
    padding: 20px 20px 0;
}
.todo-list .todo-list-body table.table tbody tr td .media .media-body {
    flex: none;
}
.todo-list .todo-list-body table.table tbody tr td label.new-control span.new-control-indicator {
    background-color: transparent;
    border: 1px solid #e9ecef;
}
.todo-list .todo-list-body table.table tbody tr td label.new-control.new-checkbox.checkbox-success>input:checked~span.new-control-indicator {
    background: #25d5e4;
    border: none;
}
.todo-list .todo-list-body .new-control.new-checkbox.checkbox-success>input:checked~div.todo-item .todo-text,
.todo-list .todo-list-body .new-control.new-checkbox.checkbox-success>input:checked~div.todo-item .meta-time {
    text-decoration: line-through;
}
.todo-list .todo-list-body table.table tbody tr td label.new-control .todo-item {
    position: relative;
}
.todo-list .todo-list-body table.table tbody tr td label.new-control .d-m-todo-item {
    background-color: #ff6f00;
    border: 3px solid #e9ecef;
    height: 12px;
    width: 12px;
}
.todo-list .todo-list-body table.table tbody tr td label.new-control .todo-item .media .usr-img {
    border-radius: 8px;
    width: 40px;
}
.todo-list .todo-list-body table.table tbody tr td label.new-control .todo-item .media .usr-img.bg-success {
    background-color: #24ccda!important;
}
.todo-list .todo-list-body table.table tbody tr td label.new-control .todo-item .media .usr-img.bg-primary {
    background-color: #3862f5!important;
}
.todo-list .todo-list-body table.table tbody tr td label.new-control .todo-item .media .usr-img img {
    padding: 4px 5px;
}
.todo-list .todo-list-body table.table tbody tr td .todo-text {
    color: #1d1d1d;
    font-size: 16px;
}
.todo-list .todo-list-body table.table tbody tr td .meta-time {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 10px;
}
.todo-list .todo-list-body table.table tbody tr td i.task-delete {
    font-size: 18px;
    color: #4f5163;
}
.todo-list .todo-list-body table.table tbody tr:hover td i.task-delete {
    color: #25d5e4;
    cursor: pointer;
}


/*
    Social Card 2
*/

#social-card-2.card {
    border: none;
    background-color: #00b1f4;
    padding: 46px 30px;
    border-radius: 6px;
}
#social-card-2.card .media i {
    color: #fff;
    font-size: 63px;
}
#social-card-2.card .media .media-body h5 {
    color: #fff;
    font-size: 23px;
}
#social-card-2.card .media .media-body p {
    color: #fff;
    font-size: 15px;
}


/*
    Social Card 3
*/

#social-card-3.card {
    border: none;
    background-color: #1a73e9;
    padding: 40px 25px;
}
#social-card-3.card .media i {
    color: #fff;
    font-size: 65px;
}
#social-card-3.card .media .media-body h5 {
    color: #fff;
}
#social-card-3.card .media .media-body p {
    color: #fff;
    font-size: 25px;
}
#social-card-3.card .media .media-body p i {
    color: #fff;
    font-size: 50px;
    vertical-align: sub;
    margin-left: 10px;
}
#social-card-3.card .media .media-body button {
    border: 2px solid #fff!important;
    color: #fff!important;
    padding: 11px 65px;
    font-size: 16px;
}
#social-card-3.card .media .media-body button:hover {
    border: 1px solid #fff!important;
    color: #1a73e9!important;
    background-color: #fff!important;
}


/*
    Booked Cars List
*/
.booked-cars-list .booked-cars-list-header {
    padding: 21px;
    border-bottom: 1px solid #e9ecef;
}
.booked-cars-list .booked-cars-list-header h6 {
    font-weight: 600;
    color: #3b3f5c;
    font-size: 20px;
}
.booked-cars-list .booked-cars-list-body p {
    display: inline-block;
    padding: 12px 10px 0 10px;
    color: #3862f5;
    font-weight: 600;
    font-size: 16px;
}
.booked-cars-list .booked-cars-list-body span.badge {
    padding: 4px 30px;
    font-size: 14px;
    background-image: linear-gradient(to right, #3862f5 0%, #25d5e4 100%);
}
.booked-cars-list .booked-cars-list-body .booked-car-scroll .mCSB_horizontal.mCSB_inside > .mCSB_container {
    margin-bottom: 2px;
}
.booked-cars-list .booked-cars-list-body table.table thead tr th {
    vertical-align: middle;
    color: #1d1d1d;
    font-size: 17px;
    border: none;
    padding-bottom: 0;
}
.booked-cars-list .booked-cars-list-body table.table tbody tr td {
    vertical-align: middle;
    color: #3b3f5c;
    font-weight: 600;
    border-top: 1px solid #e9ecef;
}
.booked-cars-list .booked-cars-list-body table.table tbody tr td.b-c-l-meta-time {
    color: #e95f2b;
}
.booked-cars-list .booked-cars-list-body table.table tbody tr td.b-c-l-meta-time i {
    font-size: 17px;
}
.booked-cars-list .booked-cars-list-body table.table tbody tr:last-child td {
    border-bottom: 1px solid #e9ecef;
}
.booked-cars-list .booked-cars-list-body .c-f-load-more button {
    background-image: linear-gradient(to right, #9960ea 0%, #3862f5 100%);
    border: none;    
}
.booked-cars-list .booked-cars-list-body .c-f-load-more button:hover {
    background-image: linear-gradient(to right, #3862f5 0%, #9960ea 100%);
}
/*
    Available Cars List
*/
.available-cars-list .available-cars-list-header {
    padding: 20px;
    border-bottom: 1px solid #e9ecef;
}
.available-cars-list .available-cars-list-header h6 {
    font-weight: 600;
    color: #3b3f5c;
    font-size: 20px;
}
.available-cars-list .available-cars-list-header span.badge {
    padding: 4px 30px;
    font-size: 14px;
    background-image: linear-gradient(to right, #6156ce 0%, #07e0c4 100%);
}
.available-cars-list .available-cars-list-body p.a-c-l-text {
    padding: 12px 10px 0px 20px;
    color: #00d1c1;
    font-weight: 600;
    font-size: 16px;
}
.available-cars-list .available-cars-list-body .available-car-scroll .mCSB_horizontal.mCSB_inside > .mCSB_container {
    margin-bottom: 2px;
}
.available-cars-list .available-cars-list-body table.table thead tr th {
    vertical-align: middle;
    color: #1d1d1d;
    font-size: 17px;
    border: none;
    padding-bottom: 11px;
    padding-top: 18px;
}
.available-cars-list .available-cars-list-body table.table tbody tr td {
    vertical-align: middle;
    color: #000;
    border-top: 1px solid #e9ecef;
}
.available-cars-list .available-cars-list-body table.table tbody tr:last-child td {
    border-bottom: 1px solid #e9ecef;
}
.available-cars-list .available-cars-list-body table.table tbody tr td .media span {
    padding: 3px 0;
    background-color: #6156ce;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    text-align: center;
    color: #fff;
    font-size: 20px;
}
.available-cars-list .available-cars-list-body table.table tbody tr td .media .media-body p {
    margin-top: 7px;
}
.available-cars-list .available-cars-list-body table.table tbody tr td.a-c-l-rating {
    font-weight: 600;
    font-size: 14px;
}
.available-cars-list .available-cars-list-body table.table tbody tr td span.badge {
    font-weight: 600;
    padding: 5px 19px;
}


/*
    Customer Feedback
*/
.customer-feedback-list .customer-feedback-list-header {
    padding: 21px;
}
.customer-feedback-list .customer-feedback-list-header h6 {
    color: #3b3f5c;
    font-size: 20px;
}
.customer-feedback-list .customer-feedback-list-body table.table tbody tr td {
    border-top: 1px solid #e9ecef;
}
.customer-feedback-list .customer-feedback-list-body table.table tbody tr td .d-sm-flex .f-header img {
    width: 50px;
    border-radius: 50%;
    border: 2px solid #acb0c3;
}
.customer-feedback-list .customer-feedback-list-body table.table tbody tr td .d-sm-flex .f-body h6 {
    color: #ff3743;
    font-weight: 600;
    font-size: 18px;
}
.customer-feedback-list .customer-feedback-list-body table.table tbody tr td .d-sm-flex .f-body p.meta-des {
    font-size: 11px;
    font-weight: 600;
    color: #888ea8;
}
.customer-feedback-list .customer-feedback-list-body table.table tbody tr td .d-sm-flex .f-body .c-f-rating i {
    color: #e9b02b;
}
.customer-feedback-list .customer-feedback-list-body table.table tbody tr td .d-sm-flex .f-body .c-f-rating i.flaticon-star-outline {
    color: #888ea8;
}
.customer-feedback-list .customer-feedback-list-body table.table tbody tr td .d-sm-flex .f-body .usr-feed {
    color: #1d1d1d;
    font-size: 13px;
    font-weight: 600;
}
.customer-feedback-list .customer-feedback-list-body table.table tbody tr td span.badge {
    font-weight: 600;
    padding: 5px 19px;
}
.customer-feedback-list .customer-feedback-list-body .c-f-load-more {
    padding: 15px;
    border-top: 1px solid #e9ecef;
}
.customer-feedback-list .customer-feedback-list-body .c-f-load-more button {
    background-image: linear-gradient(to right, #6156ce 0%, #ff3743 100%);
    color: #fff;
    border: none;
    padding: 8px 34px;
}
.customer-feedback-list .customer-feedback-list-body .c-f-load-more button:hover {
    background-image: linear-gradient(to right, #ff3743 0%, #6156ce 100%);
}
@media (min-width: 1200px) {
    .r-s-bottom-section {
        position: absolute;
        left: 15px;
        right: 15px;
        bottom: 30px;
    }
}
@media (max-width: 575px) {
    .pignose-calendar .pignose-calendar-header,
    .pignose-calendar .pignose-calendar-body {
        padding: 0;
    }
    .driver-list table.table tbody tr td .media {
        padding: 15px;
    }
}