
/*  
    Data Widgets
*/

.data-widgets { height: 100%; }
.data-widgets .widget .media .icon {
    flex: 1;
    font-size: 0;
}
.data-widgets .widget .media .icon i {
    padding: 10px;
    font-size: 28px;
    border-radius: 50%;
}
.data-widgets .widget .media .media-body .widget-text {
    font-size: 20px;
    font-weight: 600;
    color: #3f4257;
    word-wrap: break-word;
}
.data-widgets .widget .media .media-body .widget-numeric-value {
    font-size: 22px;
    color: #3f4257;
}
.data-widgets .widget .widget-total-stats { font-size: 16px; }
.data-widgets .widget.t-sales-widget i {
    background-color: #fbccdd;
    color: #f8538d;
}
.data-widgets .widget.t-order-widget i {
    background-color: #dccff7;
    color: #805dca;
}
.data-widgets .widget.t-customer-widget i {
    background-color: #b6fff1;
    color: #1abc9c;
}
.data-widgets .widget.t-income-widget i {
    background-color: #ffeccb;
    color: #e9b02b;
}
.income-content .widget-content-area, .cogs-content .widget-content-area,
.net-profit-content .widget-content-area, .expenses-content .widget-content-area { padding: 55px 24px; }
.income, .cogs, .net-profit, .expenses {
    width: 120px;
    height: 120px;
    position: relative;
}
.income-content .widget-value, .cogs-content .widget-value, .net-profit-content .widget-value, .expenses-content .widget-value {
    position: absolute;
    top: -40px;
    right: 5px;
    font-weight: 600;
    color: #1d1d1d;
    font-size: 19px;
}
.income-content .widget-text, .cogs-content .widget-text, .net-profit-content .widget-text, .expenses-content .widget-text {
    position: absolute;
    right: 5px;
    float: right;
    color: #1d1d1d;
    font-size: 18px;
}


/*
    Top sale
*/

#top-sale #t-s-chart .ct-series-a .ct-line {
    stroke: #1abc9c;
    stroke-width: 2px;
}
#top-sale #t-s-chart .ct-grid { stroke: transparent; }
#top-sale h6 {
    font-weight: 600;
    color: #000;
    font-size: 20px;
}
#top-sale p.t-s-stats {
    color: #888ea8;
    font-size: 22px;
}
#top-sale .media i {
    color: #1abc9c;
    font-size: 20px;
}
#top-sale .media .media-body p {
    font-weight: 600;
    color: #000;
    font-size: 15px;
}


#top-sale2 #t-s-chart2 .ct-series-a .ct-line {
    stroke: #1abc9c;
    stroke-width: 2px;
}
#top-sale2 #t-s-chart2 .ct-grid { stroke: transparent; }
#top-sale2 h6 {
    font-weight: 600;
    color: #000;
    font-size: 20px;
}
#top-sale2 p.t-s-stats {
    color: #888ea8;
    font-size: 22px;
}
#top-sale2 .media i {
    color: #1abc9c;
    font-size: 20px;
}
#top-sale2 .media .media-body p {
    font-weight: 600;
    color: #000;
    font-size: 15px;
}


/*
    Total Booking
*/

#total-booking h6 {
    font-weight: 600;
    color: #3b3f5c;
    font-size: 20px;
}
#total-booking p.t-b-stats {
    font-size: 46px;
    color: #00b1f4;
}
#total-booking p.t-b-stats i {
    font-size: 30px;
    vertical-align: middle;
}
#total-booking p.t-b-price {
    font-size: 16px;
    color: #000;
    font-weight: 600;
}
#total-booking span.badge { padding: 6px 21px; }


/*
    Accounts Widgets
*/


.accounts-widgets {

}
.accounts-widgets .accounts-income {

}
.accounts-widgets .accounts-income i {
    padding: 10px;
    font-size: 28px;
    border-radius: 4px;
    color: #1a73e9;
    background-color: #c2d5ff;
    vertical-align: text-top;
}
.accounts-widgets .accounts-income .value {
    font-weight: 600;
    margin-bottom: 0;
    color: #1f212d;
}
.accounts-widgets .accounts-income p {
    font-weight: 600;
    margin-bottom: 0;
    color: #1a73e9;
}
.accounts-widgets .accounts-income div.progress {
    height: 8px;
}

.accounts-widgets .accounts-cogs {

}
.accounts-widgets .accounts-cogs i {
    padding: 10px;
    font-size: 28px;
    border-radius: 4px;
    color: #1abc9c;
    background-color: #b6fff1;
    vertical-align: text-top;
}
.accounts-widgets .accounts-cogs .value {
    font-weight: 600;
    margin-bottom: 0;
    color: #1f212d;
}
.accounts-widgets .accounts-cogs p {
    font-weight: 600;
    margin-bottom: 0;
    color: #1abc9c;
}
.accounts-widgets .accounts-cogs div.progress {
    height: 8px;
}


.accounts-widgets .accounts-profit {

}
.accounts-widgets .accounts-profit i {
    padding: 10px;
    font-size: 28px;
    border-radius: 4px;
    color: #e9b02b;
    background-color: #ffeccb;
    vertical-align: text-top;
}
.accounts-widgets .accounts-profit .value {
    font-weight: 600;
    margin-bottom: 0;
    color: #1f212d;
}
.accounts-widgets .accounts-profit p {
    font-weight: 600;
    margin-bottom: 0;
    color: #e9b02b;
}
.accounts-widgets .accounts-profit div.progress {
    height: 8px;
}

.accounts-widgets .accounts-expenses {

}
.accounts-widgets .accounts-expenses i {
    padding: 10px;
    font-size: 28px;
    border-radius: 4px;
    color: #e7515a;
    background-color: #ffe1e2;
    vertical-align: text-top;
}
.accounts-widgets .accounts-expenses .value {
    font-weight: 600;
    margin-bottom: 0;
    color: #1f212d;
}
.accounts-widgets .accounts-expenses p {
    font-weight: 600;
    margin-bottom: 0;
    color: #e7515a;
}
.accounts-widgets .accounts-expenses div.progress {
    height: 8px;
}


/*
    Total Reviews
*/

#total-reviews h6 {
    font-weight: 600;
    color: #3b3f5c;
    font-size: 20px;
}
#total-reviews #t-r-chart {
    position: relative;
    width: 115px;
    height: 115px;
}
#total-reviews #t-r-chart .t-r-progress-value {
    font-weight: 600;
    font-size: 27px;
}
#total-reviews .media.positive-stats { word-break: break-all; }
#total-reviews .media.positive-stats img { width: 40px; }
#total-reviews .media.positive-stats h6 {
    color: #3862f5;
    font-weight: normal;
    font-size: 18px;
}
#total-reviews .media.positive-stats p {
    color: #1d1d1d;
    font-size: 14px;
}
#total-reviews .media.negative-stats { word-break: break-all; }
#total-reviews .media.negative-stats img { width: 40px; }
#total-reviews .media.negative-stats h6 {
    color: #ee3d50;
    font-weight: normal;
    font-size: 18px;
}
#total-reviews .media.negative-stats p {
    color: #1d1d1d;
    font-size: 14px;
}


/*
    Total Services
*/

#total-services h6 {    
    font-weight: 600;
    color: #3b3f5c;
    font-size: 20px;
}
#total-services .t-s-stats {
    color: #888ea8;
    font-size: 21px;
}
#total-services .t-s-profit-price {
    font-size: 14px;
    color: #000;
}
#total-services .t-s-profit-price span { font-weight: 600; }
#total-services .t-s-profit-price i { color: #1abc9c; }
#total-services #t-services-chart .ct-grid { stroke: transparent; }
#total-services #t-services-chart .ct-series-a .ct-bar {
    stroke: #f8538d;
    stroke-width: 6px;
}
#total-services #t-services-chart .ct-series-b .ct-bar {
    stroke: #f8538d;
    stroke-width: 6px;
}


/*
    Top Seller
*/

.top-seller-container .top-seller-header h6 {
    font-weight: 600;
    color: #3f4257;
}
.top-seller-container .top-seller-header .t-s-car-name {
    font-weight: 600;
    color: #3b3f5c;
    font-size: 18px;
}
.top-seller-container .top-seller-header .t-s-rating i.flaticon-star-fill {
    font-size: 20px;
    color: #ff3743;
}
.top-seller-container .top-seller-header .t-s-rating i.flaticon-star-outline {
    font-size: 20px;
    color: #888ea8;
}
.top-seller-container .top-seller-body .t-s-car-sold-number {
    font-weight: 600;
    color: #000;
    font-size: 20px;
    vertical-align: middle;
}
.top-seller-container .top-seller-body .t-s-car-price {
    font-weight: 600;
    color: #e7515a;
    font-size: 18px;
}
.top-seller-container .top-seller-body button.btn {
    background-image: linear-gradient(-20deg, #fc6076 0%, #ff9a44 100%);
    border: none;
    padding: 7px 30px;
}
.top-seller-container .top-seller-body button.btn:hover {
    background-image: linear-gradient(-20deg, #ff9a44 0%, #fc6076 100%);
    border: none;
}


/*
    Top Sales Person
*/

.top-sales-person.widget-card .media { padding: 10px 20px 0 20px; }
.top-sales-person.widget-card .media img { width: 55px; }
.top-sales-person.widget-card .media .media-body h5 {
    color: #000;
    font-size: 18px;
}
.top-sales-person.widget-card .media .media-body .t-s-p-social-media i {
    font-size: 17px;
    margin-right: 4px;
}
.top-sales-person.widget-card .progress {
    font-size: 17px;
    margin-right: 5px;
    border-radius: 30px;
    margin-top: 8px;
    height: 6px;
}
.top-sales-person.widget-card .progress .progress-bar {
    border-radius: 30px;
    background-color: #25d5e4!important;
    border-color: #25d5e4!important;
}
.top-sales-person.widget-card .t-s-p-rating {
    color: #000;
    font-size: 17px;
}
.top-sales-person.widget-card .t-s-p-profile-stats .t-s-p-profile-stats-txt  {
    color: #000;
    word-wrap: break-word;
}
.top-sales-person.widget-card .t-s-p-profile-stats .t-s-p-profile-stats-value  {
    color: #000;
    font-size: 17px;
}


/*
    Top Sales Person
*/

.top-drivers.widget-card { padding: 12px 0px; }
.top-drivers.widget-card h5 {
    font-weight: 600;
    color: #1d1d1d;
    font-size: 21px;
}
.top-drivers.widget-card .usr-meta-img {
    position: relative;
    width: 70px;
    height: 70px;
}
.top-drivers.widget-card .usr-meta-img img {
    width: 100%;
    height: 100%;
    border: 4px solid #d3d3d3;
}
.top-drivers.widget-card .t-d-drive-stats p {
    font-size: 15px;
    font-weight: 600;
    color: #1d1d1d;
}
.top-drivers.widget-card .t-d-total-rev {
    font-weight: 600;
    color: #1d1d1d;
    font-size: 16px;
}
.top-drivers.widget-card .t-d-total-rev span { color: #e95f2b; }
.top-drivers.widget-card .t-d-rating i {
    color: #e95f2b;
    font-size: 17px;
}


/*
    Total Sales
*/

.widget.t-sales-widget h6 {
  font-size: 15px;
  font-weight: 600;
  color: #1d1d1d;
}
.widget.t-sales-widget #t-sales-chart {
  vertical-align: middle;
  display: inline-block;
  width: 100%;
  height: 60px;
  max-width: 160px;
}
.widget.t-sales-widget #t-sales-chart .amcharts-main-div a { display: none!important; } 
.widget.t-sales-widget .t-s-percentage {
    color: #00b1f4;
    font-size: 16px;
}
.widget.t-sales-widget i.icon-up { font-size: 17px; }
.widget.t-sales-widget i.icon-down {
    color: #888ea8;
    font-size: 17px;
}
.widget.t-sales-widget .t-s-value {
    font-size: 24px;
    color: #1d1d1d;
}



/*
    Organic
*/

.organinc { padding: 35px 20px 35px 5px; }
.organinc .orgainc-stats { font-weight: 700; color: #1a73e9; }
.organinc .organinc-title h6 {
    color: #989ebf;
    font-size: 18px;
    margin: 0;
    text-align: center;
    text-transform: initial;
}
.organinc .organinc-title p {
    color: #515365;
    font-size: 22px;
    font-weight: 600;
    margin: 0;
}
.organinc .organinc-body #linec1 .amcharts-main-div .amcharts-chart-div a { display: none!important; }

.organinc .organinc-body #linec1 .amcharts-graph-line {
  filter: url(#dropshadowline1);
}


/*
    Direct
*/

.direct { padding: 35px 20px 35px 5px; }
.direct .direct-stats { font-weight: 700; color: #f8538d; }
.direct .direct-title h6 {
    color: #989ebf;
    font-size: 18px;
    margin: 0;
    text-align: center;
    text-transform: initial;
}
.direct .direct-title p {
    color: #515365;
    font-size: 22px;
    font-weight: 600;
    margin: 0;
}
.direct .direct-body #linec2 .amcharts-main-div .amcharts-chart-div a { display: none!important; }

.direct .direct-body #linec2 .amcharts-graph-line {
  filter: url(#dropshadowline2);
}

/* 
    Referral
*/

.referral { padding: 35px 20px 35px 5px; }
.referral .referral-stats { font-weight: 700; color: #00b1f4; }
.referral .referral-title h6 {
    color: #989ebf;
    font-size: 18px;
    margin: 0;
    text-align: center;
    text-transform: initial;
}
.referral .referral-title p {
    color: #515365;
    font-size: 22px;
    font-weight: 600;
    margin: 0;
}
.referral .referral-body #linec3 .amcharts-main-div .amcharts-chart-div a { display: none!important; }

.referral .referral-body #linec3 .amcharts-graph-line {
  filter: url(#dropshadowline3);
}
/* 
    Social
*/

.social { padding: 35px 20px 35px 5px; }
.social .social-stats { font-weight: 700; color: #e95f2b; }
.social .social-title h6 {
    color: #989ebf;
    font-size: 18px;
    margin: 0;
    text-align: center;
    text-transform: initial;
}
.social .social-title p {
    color: #515365;
    font-size: 22px;
    font-weight: 600;
    margin: 0;
}
.social .social-body #linec4 .amcharts-main-div .amcharts-chart-div a { display: none!important; }

.social .social-body #linec4 .amcharts-graph-line {
  filter: url(#dropshadowline4);
}


/*
    Live Traffic
*/

.live-traffic .live-traffic-title h6 {
    color: #3b3f5c;
    font-size: 16px;
    font-weight: 600;
}
.live-traffic .live-traffic-body i {
    font-size: 40px;
    text-align: center;
    display: block;
    font-weight: 600;
    color: #4f5163;
}
.live-traffic .live-traffic-body .js-r-t-traffic {
    color: #3862f5;
    font-size: 32px;
    font-weight: 600;
}


/*
    Bounce Rate
*/

.bounce-rate .bounce-rate-title h6 {
    color: #3b3f5c;
    font-size: 16px;
    font-weight: 600;
}
.bounce-rate .bounce-rate-body #bounce-rate-chart {
    width: 100%;
    height: 100px;
}
.bounce-rate .bounce-rate-body #bounce-rate-chart .amcharts-main-div a {
    display: none!important;
}



/*
    Total Profit
*/

.widget.t-profit-widget h6 {
    font-size: 15px;
    font-weight: 600;
    color: #1d1d1d;
}
.widget.t-profit-widget #t-profit-chart  {
    width: 60px;
    height: 60px;
    position: relative;
}
.widget.t-profit-widget .t-s-percentage {
    color: #6156ce;
    font-size: 16px;
}
.widget.t-profit-widget i.icon-up {
    font-size: 17px;
    color: #6156ce;
}
.widget.t-profit-widget i.icon-down {
    color: #888ea8;
    font-size: 17px;
}
.widget.t-profit-widget .t-s-value {
    font-size: 24px;
    color: #1d1d1d;
}


/*
    Total Orders
*/

.widget.t-orders-widget h6 {
    font-size: 15px;
    font-weight: 600;
    color: #1d1d1d;
}
.widget.t-orders-widget #t-order-chart {
  vertical-align: middle;
  display: inline-block;
  width: 100%;
  height: 60px;
  max-width: 160px;
}
.widget.t-orders-widget #t-order-chart .amcharts-main-div a { display: none!important; }
.widget.t-orders-widget .t-s-percentage {
    color: #00b1f4;
    font-size: 16px;
}
.widget.t-orders-widget i.icon-up { font-size: 17px; }
.widget.t-orders-widget i.icon-down {
    color: #888ea8;
    font-size: 17px;
}
.widget.t-orders-widget .t-s-value {
    font-size: 24px;
    color: #1d1d1d;
}


/*
    Shipments
*/

.widget.t-shipments-widget h6 {
    font-size: 15px;
    font-weight: 600;
    color: #1d1d1d;
}
.widget.t-shipments-widget #t-shipments-chart  {
    width: 60px;
    height: 60px;
    position: relative;
}
.widget.t-shipments-widget .t-s-percentage {
    color: #5247bd;
    font-size: 16px;
}
.widget.t-shipments-widget i.icon-up {
    font-size: 17px;
    color: #6156ce;
}
.widget.t-shipments-widget i.icon-down {
    color: #888ea8;
    font-size: 17px;
}
.widget.t-shipments-widget .t-s-value {
    font-size: 24px;
    color: #1d1d1d;
}


/*
    Stock Traded
*/
.stock-traded [class*="stock-data-1-"] { padding: 14px 8px 10px 8px; border-bottom-left-radius: 0!important; border-bottom-right-radius: 0!important; }
.stock-traded .stock-data-1-1 { background-color: #00b1f4; }
.stock-traded .stock-data-1-2 { background-color: #5247bd; }
.stock-traded .stock-data-1-3 { background-color: #00d1c1; }
.stock-traded .stock-data-1-4 { background-color: #f8538d; }
.stock-traded .stock-data-1-5 { background-color: #1a73e9; }
.stock-traded .s-t-title {
    color: #fff;
    font-size: 16px;
    word-break: break-all;
}
.stock-traded .s-t-total-traded {
    font-size: 21px;
    color: #fff;
}
.stock-traded .s-t-rate-percentage {
    color: #1d1d1d;
    font-weight: 600;
    font-size: 15px;
}
.stock-traded .stock-data-2-1 p i {
    font-size: 30px;
    color: #1abc9c;
}
.stock-traded .stock-data-2-2 p i {
    font-size: 30px;
    color: #1abc9c;
}
.stock-traded .stock-data-2-3 p i {
    font-size: 30px;
    color: #1abc9c;
}
.stock-traded .stock-data-2-4 p i {
    font-size: 30px;
    color: #5247bd;
}
.stock-traded .stock-data-2-5 p i {
    font-size: 30px;
    color: #5247bd;
}
.stock-traded .s-t-rate-number {
    font-size: 19px;
    font-weight: 600;
    color: #1abc9c;
}
.stock-traded .s-t-rate-number.neg-rate { color: #e7515a; }
.stock-traded .s-t-rate-number i {
    font-size: 16px;
    vertical-align: inherit;
}
.stock-traded #trad-1 .ct-series-a .ct-bar { stroke: #00b1f4; }
.stock-traded #trad-2 .ct-series-a .ct-bar { stroke: #5247bd; }
.stock-traded #trad-3 .ct-series-a .ct-bar { stroke: #00d1c1; }
.stock-traded #trad-4 .ct-series-a .ct-bar { stroke: #f8538d; }
.stock-traded #trad-5 .ct-series-a .ct-bar { stroke: #1a73e9; }

.stock-traded #trad-1 .ct-bar, .stock-traded #trad-2 .ct-bar,
.stock-traded #trad-3 .ct-bar, .stock-traded #trad-4 .ct-bar,
.stock-traded #trad-5 .ct-bar {
    stroke-width: 2px;
}


/*
    Total Coins
*/

.widget-content-area.total-coins { border-radius: 4px; }
.total-coins {
    padding: 10px;
}
.total-coins .widget-icon {
    position: absolute;
    top: -30px;
    right: 25px;
    padding: 10px;
    color: #fff;
    background-color: #3862f5;
    border-radius: 4px;
}
.total-coins .widget-icon img { width: 50px; }
.total-coins .widget-title {
 font-size: 15px;
 border-bottom: none;
 padding-bottom: 0;
 margin-bottom: 10px;
 color: #1d1d1d;
 font-size: 16px;
 font-weight: 300;
}
.total-coins .widget-value {
    font-weight: 800;
    font-size: 16px;
    color: #515365;
    font-size: 17px;
    color: #1d1d1d;
}
.total-coins .widget-value span {
    font-weight: 600;
    font-size: 16px;
    color: #888ea8;
}


/*
    Total Commodities
*/

.widget-content-area.total-commodities { border-radius: 6px; }
.total-commodities {
    padding: 10px;
}
.total-commodities .widget-icon {
    position: absolute;
    top: -30px;
    right: 25px;
    padding: 10px;
    color: #fff;
    background-color: #07e0c4;
    border-radius: 4px;
}
.total-commodities .widget-icon img { width: 50px; }
.total-commodities .widget-title {
 font-size: 15px;
 border-bottom: none;
 padding-bottom: 0;
 margin-bottom: 10px;
 color: #1d1d1d;
 font-size: 16px;
}
.total-commodities .widget-value {
    font-weight: 800;
    font-size: 16px;
    font-size: 17px;
    color: #1d1d1d;
}
.total-commodities .widget-value span {
    font-weight: 600;
    font-size: 16px;
    color: #515365;
    color: #888ea8;
}


/*
    Total Currencies
*/

.widget-content-area.total-currencies { border-radius: 6px; }
.total-currencies {
    padding: 10px;
}
.total-currencies .widget-icon {
    position: absolute;
    top: -30px;
    right: 25px;
    padding: 10px;
    color: #fff;
    background-color: #6156ce;
    border-radius: 4px;
}
.total-currencies .widget-icon img { width: 50px; }
.total-currencies .widget-title {
 font-size: 15px;
 border-bottom: none;
 padding-bottom: 0;
 margin-bottom: 10px;
 color: #1d1d1d;
 font-size: 16px;
}
.total-currencies .widget-value {
    font-weight: 800;
    font-size: 16px;
    font-size: 17px;
    color: #1d1d1d;
}
.total-currencies .widget-value span {
    font-weight: 600;
    font-size: 16px;
    color: #888ea8;
}


/*
    Total Account Value
*/

.widget-content-area.total-account-value { border-radius: 6px; }
.total-account-value {
    padding: 10px;
}
.total-account-value .widget-icon {
    position: absolute;
    top: -30px;
    right: 25px;
    padding: 10px;
    color: #fff;
    background-color: #25d5e4;
    border-radius: 4px;
}
.total-account-value .widget-icon img { width: 50px; }
.total-account-value .widget-title {
 font-size: 15px;
 border-bottom: none;
 padding-bottom: 0;
 margin-bottom: 10px;
 color: #1d1d1d;
 font-size: 16px;
}
.total-account-value .widget-value {
    font-weight: 800;
    font-size: 16px;
    font-size: 17px;
    color: #1d1d1d;
}
.total-account-value .widget-value span {
    font-weight: 600;
    font-size: 16px;
    color: #888ea8;
}


/*

    Trade Status

*/

.trade-status { background-color: #3232b7; color: #fff; }

/*First Trade*/
.first-trade { border-right: 1px solid #6156ce; }
.first-trade .widget-title {
    margin-bottom: 0;
    border-bottom: none;
    padding: 10px 0;
    font-weight: 300;
    font-size: 15px;
}
.first-trade .widget-date {
    font-weight: 600;
    font-size: 16px;
}
.first-trade .widget-meta {
    font-weight: 600;
    font-size: 16px;
}
.first-trade i {
    font-size: 60px;
    color: #f8538d;
}

/*Last Trade*/
.last-trade { border-right: 1px solid #6156ce; }
.last-trade .widget-title {
    margin-bottom: 0;
    border-bottom: none;
    padding: 10px 0;
    font-weight: 300;
    font-size: 15px;
}
.last-trade .widget-date {
    font-weight: 600;
    font-size: 16px;
}
.last-trade .widget-meta {
    font-weight: 600;
    font-size: 16px;
}
.last-trade i {
    font-size: 60px;
    color: #25d5e4;
}

/*Total Trade*/
.total-trades { border-right: 1px solid #6156ce; }
.total-trades .widget-title {
    margin-bottom: 0;
    border-bottom: none;
    padding: 10px 0;
    font-weight: 300;
    font-size: 15px;
}
.total-trades .widget-para {
    font-weight: 600;
    font-size: 16px;
}
.total-trades i {
    font-size: 60px;
    color: #edb02b;
}

/*
    Current Bitcoin Price
*/

.current-bit-price .widget-title {
    margin-bottom: 0;
    border-bottom: none;
    padding: 10px 0;
    font-weight: 300;
    font-size: 15px;
}
.current-bit-price .widget-value {
    font-weight: 600;
    font-size: 15px;
}
.current-bit-price .widget-rate { color: #f8538d; }
.current-bit-price i {
    font-size: 60px;
    color: #07e0c4;
}


/* 
    BTC Balance
*/

.btc-balance .widget-wrapper {
    padding: 12px;
    border-radius: 6px;
    height: 230px;
    background-image: linear-gradient(to top, #07e0c4 0%, #24ccda 100%);
}
.btc-balance .widget-wrapper .col-md-12:nth-child(2)  {
    padding-left: 10px;
    padding-right: 10px;
}
.btc-balance .widget-wrapper .widget-title {
    color: #fff;
    font-size: 21px;
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: center;
}
.btc-balance .widget-wrapper .widget-value {
    color: #fff;
    font-size: 26px;
    font-weight: 600;
    text-align: center;
}
.btc-balance .widget-wrapper .widget-value span {
    font-size: 14px;
    font-weight: normal;
}


/*  BTC received   */

.btc-received .widget-wrapper {
    padding: 12px;
    border-radius: 6px;
    height: 230px;
    background-image: linear-gradient(to top, #3232b7 0%, #24ccda 100%);
}
.btc-received .widget-wrapper .col-md-12:nth-child(2)  {
    padding-left: 10px;
    padding-right: 10px;
}
.btc-received .widget-wrapper .widget-title {
    color: #fff;
    font-size: 21px;
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: center;
}
.btc-received .widget-wrapper .widget-value {
    color: #fff;
    font-size: 26px;
    font-weight: 600;
    text-align: center;
}
.btc-received .widget-wrapper .widget-value span {
    font-size: 14px;
    font-weight: normal;
}


/*  
    BTC Sent
*/

.btc-sent .widget-wrapper {
    padding: 12px;
    border-radius: 6px;
    height: 226px;
    background-image: linear-gradient(to top, #6156ce 0%, #3826f5 100%);
}
.btc-sent .widget-wrapper .col-md-12:nth-child(2)  {
    padding-left: 10px;
    padding-right: 10px;
}
.btc-sent .widget-wrapper .widget-title {
    color: #fff;
    font-size: 21px;
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: center;
}
.btc-sent .widget-wrapper .widget-value {
    color: #fff;
    font-size: 26px;
    font-weight: 600;
    text-align: center;
}
.btc-sent .widget-wrapper .widget-value span {
    font-size: 14px;
    font-weight: normal;
}


/*  
    BTC Total Transacts
*/

.btc-total-transacts .widget-wrapper {
    padding: 12px;
    border-radius: 6px;
    height: 226px;
    background-image: linear-gradient(to top, #00b1f4 0%, #0081e6 100%);
}
.btc-total-transacts .widget-wrapper .col-md-12:nth-child(2)  {
    padding-left: 10px;
    padding-right: 10px;
}
.btc-total-transacts .widget-wrapper .widget-title {
    color: #fff;
    font-size: 21px;
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: center;
}
.btc-total-transacts .widget-wrapper .widget-value {
    color: #fff;
    font-size: 26px;
    font-weight: 600;
    text-align: center;
}
.btc-total-transacts .widget-wrapper .widget-value span {
    font-size: 14px;
    font-weight: normal;
}


/*
    volume
*/

.widget-content-area.volume { border-radius: 6px; }
.volume { height: 200px; }
.volume .card-title {
    color: #ee3d50;
    font-weight: 600;
    font-size: 19px;
}
.volume .card-pricing {
    font-size: 16px;
    color: #3b3f5c;
}
.volume .card-value {
    font-size: 16px;
    color: #888ea8;
}


/*
    Market Cap
*/

.widget-content-area.market-cap { border-radius: 6px; }
.market-cap { height: 200px; }
.market-cap .card-title {
    color: #ee3d50;
    font-weight: 600;
    font-size: 19px;
}
.market-cap .card-pricing {
    font-size: 16px;
    color: #3b3f5c;
}
.market-cap .card-value {
    font-size: 16px;
    color: #888ea8;
}


/*
    Max Supply
*/

.widget-content-area.max-supply { border-radius: 6px; }
.max-supply { height: 200px; }
.max-supply .card-title {
    color: #ee3d50;
    font-weight: 600;
    font-size: 19px;
}
.max-supply .card-pricing {
    font-size: 16px;
    color: #3b3f5c;
}
.max-supply .card-value {
    font-size: 16px;
    color: #3b3f5c;
}
.max-supply .card-rate {
    font-size: 16px;
    color: #888ea8;
}


/*
    Total Orders
*/

.widget.t-order-widget { padding: 0 0 17.3px 0; }
.widget.t-order-widget .t-o-cogs {
    width: 138px;
    height: 138px;
    position: relative;
}
.widget.t-order-widget .t-o-txt {
    font-weight: 600;
    color: #1d1d1d;
    font-size: 18px;
}
.widget.t-order-widget .t-o-value {
    font-size: 28px;
    font-weight: 600;
    color: #1d1d1d;
}
.widget.t-order-widget .t-o-value i {
    font-size: 20px;
    color: #3862f5;
    vertical-align: middle;
}
.widget.t-order-widget .t-o-icon i {
    color: #3862f5;
    font-size: 45px;
}


/*
    Total Sales
*/

.widget.t-timer-widget { padding: 35.9px 0; }
.widget.t-timer-widget .flaticon-close-fill {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 0;
    color: #ffe1e2;
    font-size: 20px;
    cursor: pointer;
}
.widget.t-timer-widget .flaticon-close-fill:hover { color: #e7515a; }
.widget.t-timer-widget .flaticon-cancel-icon-fill:hover { color: #f8538d; }
.widget.t-timer-widget .trading-time .date-content {
    font-size: 18px;
    font-weight: 700;
    color: #ee3d50;
}
.widget.t-timer-widget .trading-time .timer-content {
    font-size: 32px;
    font-weight: 600;
    color: #3b3f5c;
}
.widget.t-timer-widget .icon {
    font-size: 94px;
    vertical-align: middle;
    color: #e9ecef;
}
#radarchartdiv {
    width: 100%;
    height: 439px;
    font-size: 11px;
}



/*
    Total Visits
*/

.total-visits {
  padding: 16px 0px;
}
.total-visits .t-v-value {
    font-size: 28px;
    color: #1d1d1d;
}
.total-visits .t-v-txt {
    font-size: 14px;
    font-weight: 600;
    color: #3b3f5c;
}
.total-visits .t-v-txt i {
    color: #e9b02b;
    font-size: 17px;
    vertical-align: middle;
}
.total-visits .total-visits-charts {
    font-size: 11px;
}
.total-visits .total-visits-charts canvas {
  float: right;
}


/*
    Unique Visits
*/

.unique-visits {
  padding: 16px 0px;
}
.unique-visits .u-v-value {
    font-size: 28px;
    color: #1d1d1d;
}
.unique-visits .u-v-txt {
    font-size: 14px;
    font-weight: 600;
    color: #3b3f5c;
}
.unique-visits .u-v-txt i {
    color: #1abc9c;
    font-size: 14px;
    font-weight: 600;
    vertical-align: middle;
}
.unique-visits #unique-visits-charts canvas {
  float: right;
}


/*
    Page Views
*/

.page-views {
  padding: 16px 0px;
}
.page-views .p-v-value {
    font-size: 28px;
    color: #1d1d1d;
}
.page-views .p-v-txt {
    font-size: 14px;
    font-weight: 600;
    color: #3b3f5c;
}
.page-views .p-v-txt i {
    color: #e95f2b;
    font-size: 14px;
    font-weight: 600;
    vertical-align: middle;
}
.page-views #page-views {
    font-size: 11px;
}
.page-views #page-views canvas {
  float: right;
}


/*
    Newsletter Performance
*/

.newsletter-performance .newsletter-performance-header h6 {
    color: #1d1d1d;
    font-size: 18px;
    font-weight: 600;
}
.newsletter-performance .newsletter-performance-body { padding: 40px 50px 20px 50px; }
.newsletter-performance .media img {
    width: 48px;
    border-radius: 50%;
}
.newsletter-performance .media .media-body p {
    font-size: 18px;
    font-weight: 600;
    color: #3b3f5c;
}
.newsletter-performance p.email-count {
    font-size: 18px;
    font-weight: 600;
    color: #3232b7;
}
.newsletter-performance p.email-count span.badge {
    padding: 5px 24px;
    background-image: linear-gradient(to left, #00b1f4 0%, #5247bd 100%);
    vertical-align: bottom;
}
.newsletter-performance h6 {
    font-size: 17px;
    font-weight: 600;
    color: #1d1d1d;
}
.newsletter-performance p.n-p-views-count {
    font-size: 46px;
    font-weight: 600;
    color: #6156ce;
}
.newsletter-performance p.n-p-views-count i {
    color: #00d1c1;
    font-size: 38px;
}
.newsletter-performance p.n-p-weekend-calc {
    font-size: 16px;
    font-weight: 600;
    color: #1d1d1d;
}
.newsletter-performance p.n-p-conversions {
  font-size: 46px;
  font-weight: 600;
  color: #6156ce;
}
.newsletter-performance p.n-p-conversions i {
    color: #00d1c1;
    font-size: 38px;
}
.newsletter-performance p.n-p-t-c-weekend-calc {
    font-size: 16px;
    font-weight: 600;
    color: #1d1d1d;
}


/*
    Customer Satisfaction
*/

.customer-satisfaction { padding: 13px; }
.customer-satisfaction h6 {
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 600;
    color: #1d1d1d;
}
.customer-satisfaction .c-s-stats {
    font-size: 40px;
    font-weight: 600;
    color: #1d1d1d;
}
.customer-satisfaction .progress {
    height: 11px;
    border-radius: 20px;
}
.customer-satisfaction .progress .progress-bar {
    background-color: #07e0c4!important;
    border-radius: 20px;
}
.customer-satisfaction .c-s-stats-data p {
    font-size: 13px;
    font-weight: 600; 
    color: #888ea8;
}
.customer-satisfaction .c-s-stats-data span {
    font-size: 16px;
    font-weight: 600;
    color: #1d1d1d;
}
.customer-satisfaction .c-s-stats-data i {
    color: #00d1c1;
    font-size: 20px;
}


/*
    Invoices
*/

.invoices { padding: 1px; }
.invoices h6 {
    font-weight: 600;
    font-size: 18px;
    color: #1d1d1d;
}
.invoices i {
    position: absolute;
    font-size: 50px;
    color: #e9ecef;
}
.invoices span {
    position: relative;
    font-weight: 600;
    color: #1d1d1d;
    padding-left: 6px;
    font-size: 17px;
}
.invoices .d-m-i-due { background-color: #25d5e4; }
.invoices .d-m-i-overdue { background-color: #f8538d; }
.invoices p {
  font-size: 28px;
  font-weight: 600;
}
.invoices p.i-due-value { color: #25d5e4; }
.invoices p.i-overdue-value { color: #f8538d; }


/*
  Total Likes  
*/

.t-likes { padding: 30.2px 20px; }
.t-likes p {
    font-size: 15px;
    color: #3862f5;
}
.t-likes h5 {
    font-size: 43px;
    color: #1d1d1d;
}
.t-likes i {
  font-size: 44px;
  vertical-align: middle;
  color: #1a73e9;
}


/*
  Total shares
  
*/

.t-shares { padding: 30.2px 20px; }
.t-shares p {
    font-size: 15px;
    color: #e95f2b;
}
.t-shares h5 {
    font-size: 43px;
    color: #1d1d1d;
}
.t-shares i {
  font-size: 44px;
  vertical-align: middle;
  color: #e95f2b;
}


/*

  Total comments
  
*/
.t-comments { padding: 30.2px 20px; }
.t-comments p {
    font-size: 15px;
    color: #00d1c1;
}
.t-comments h5 {
    font-size: 43px;
    color: #1d1d1d;
}
.t-comments i {
  font-size: 44px;
  vertical-align: middle;
  color: #00d1c1;
}


/*  Progress  */

/*
    Progress Order
*/

.progress-order { padding: 22px 20px 22px 20px; }
.progress-order .progress-order-header h6 {
    color: #1d1d1d;
    font-weight: 600;
    font-size: 16px;
}
.progress-order .progress-order-header span.badge {
    font-size: 12px;
    padding: 6px 10px;
    color: #00b1f4;
    background-color: #bae7ff;
}
.progress-order .progress-order-body ul li img {
    width: 40px;
    height: 40px;
}
.progress-order .progress-order-body ul li.badge-notify { position: relative; }
.progress-order .progress-order-body ul li.badge-notify .notification {
    position: absolute;
    top: -15px;
    right: -34px;
}
.progress-order .progress-order-body ul li.badge-notify .notification span.badge {
    background-color: #ffffff;
    color: #00b1f4;
    box-shadow: 0px 0px 20px 0px #d0d0d0;
    font-size: 12px;
    padding: 4px 7px;
}
.progress-order .progress-order-body .p-o-percentage {
    font-size: 14px;
    color: #00b1f4;
}
.progress-order .progress-order-body .progress {
    height: 6px;
    border-radius: 30px;
}
.progress-order .progress-order-body .progress .p-o-progress { border-radius: 30px; }


/*
    Pending Order
*/

.pending-order { padding: 22px 20px 22px 20px; }
.pending-order .pending-order-header h6 {
    color: #1d1d1d;
    font-weight: 600;
    font-size: 16px;
}
.pending-order .pending-order-header span.badge {
  font-size: 12px;
  padding: 6px 10px;
  color: #e9b02b;
  background-color: #ffeccb;
}
.pending-order .pending-order-body ul li img {
    width: 40px;
    height: 40px;
}
.pending-order .pending-order-body ul li.badge-notify { position: relative; }
.pending-order .pending-order-body ul li.badge-notify .notification {
  position: absolute;
  top: -15px;
  right: -34px;
}
.pending-order .pending-order-body ul li.badge-notify .notification span.badge {
    background-color: #ffffff;
    color: #1d1d1d;
    box-shadow: 0px 0px 20px 0px #d0d0d0;
    font-size: 12px;
    padding: 4px 7px;
}
.pending-order .pending-order-body .p-o-percentage {
    font-size: 14px;
    color: #1d1d1d;
}
.pending-order .pending-order-body .progress {
    height: 6px;
    border-radius: 30px;
}
.pending-order .pending-order-body .progress .p-o-progress { border-radius: 30px; }



/*
    Success Order
*/

.success-order { padding: 22px 20px 22px 20px; }
.success-order .success-order-header h6 {
    color: #1d1d1d;
    font-weight: 600;
    font-size: 16px;
}
.success-order .success-order-header span.badge {
    font-size: 12px;
    padding: 6px 10px;
    color: #1abc9c;
    background-color: #b6fff1;
}
.success-order .success-order-body ul li img {
    width: 40px;
    height: 40px;
}
.success-order .success-order-body ul li.badge-notify { position: relative; }
.success-order .success-order-body ul li.badge-notify .notification {
    position: absolute;
    top: -15px;
    right: -34px;
}
.success-order .success-order-body ul li.badge-notify .notification span.badge {
    background-color: #ffffff;
    color: #1abc9c;
    box-shadow: 0px 0px 20px 0px #d0d0d0;
    font-size: 12px;
    padding: 4px 7px;
}
.success-order .success-order-body .p-o-percentage {
    font-size: 14px;
    color: #1abc9c;
}
.success-order .success-order-body .progress {
    height: 6px;
    border-radius: 30px;
}
.success-order .success-order-body .progress .p-o-progress { border-radius: 30px; }



/*
    Reviews
*/

.reviews .reviews-header { padding: 20px; }
.reviews .reviews-header h6 {
    color: #1d1d1d;
    font-weight: 600;
    font-size: 16px;
}
.reviews .reviews-body { padding: 20px; }
.reviews .reviews-body .r-positive-txt {
    font-size: 14px;
    color: #1d1d1d;
    font-weight: 600;
}
.reviews .reviews-body img.icon-positive { width: 87px; }
.reviews .reviews-body .r-positive-percentage {
    font-size: 25px;
    font-weight: 600;
    color: #1d1d1d;
}
.reviews .reviews-body .r-negative-txt {
 font-size: 14px;
 color: #1d1d1d;
 font-weight: 600;
}
.reviews .reviews-body img.icon-negative { width: 87px; }
.reviews .reviews-body .r-negative-percentage {
    font-size: 25px;
    font-weight: 600;
    color: #1d1d1d;
}
.reviews .reviews-body button {
    background-image: linear-gradient(to right, #3862f5 0%, #00d1c1 100%);
    border: none;
    font-size: 14px;
    padding: 9px 18px;
}
.reviews .reviews-body button:hover { background-image: linear-gradient(to right, #00d1c1 0%, #3862f5 100%); }




/*
    Revenue
*/

.revenue-content { height: 100%; }
.revenue-content .revenue-header h6 {
    font-weight: 600;
    color: #3b3f5c;
    font-size: 20px;
}
.revenue-content .revenue-header .nav.revenue .nav-link {
    padding: 6px 17px;
    font-size: 13px;
    border-radius: 30px;
}
.revenue-content .revenue-header .nav.revenue .nav-link.active,
.revenue-content .revenue-header .nav.revenue .show>.nav-link {
    background-image: linear-gradient(to right, #816cfd 0%, #24ccda 100%);
}
.revenue-content .revenue-body .r-meta-date {
    font-size: 15px;
    font-weight: 600;
    color: #3b3f5c;
}
.revenue-content .revenue-body .r-value {
    font-size: 35px;
    color: #3f4257;
    font-weight: 600;
}


/*
    expanditure
*/

.expanditure-content { height: 100%; }
.expanditure-content .expanditure-header h6 {
    font-weight: 600;
    color: #3b3f5c;
    font-size: 20px;
}
.expanditure-content .expanditure-header .nav.expanditure .nav-link {
    padding: 6px 17px;
    font-size: 13px;
    border-radius: 30px;
}
.expanditure-content .expanditure-header .nav.expanditure .nav-link.active,
.expanditure-content .expanditure-header .nav.expanditure .show>.nav-link {
    background-image: linear-gradient(to right, #00d1c1 0%, #24ccda 100%);
}
.expanditure-content .expanditure-body .e-meta-date {
    font-size: 15px;
    font-weight: 600;
    color: #3b3f5c;
}
.expanditure-content .expanditure-body .e-value {
    font-size: 35px;
    color: #3b3f5c;
    font-weight: 600;
}


/*
    Income
*/
#income-widget h6 {
    font-size: 26px;
    text-transform: uppercase;
    color: #3b3f5c;
}
#income-widget span.badge-primary {
    vertical-align: middle;
    padding: 6px 22px;
    font-size: 15px;
    margin-left: 10px;
}
#income-widget p {
    font-size: 46px;
    color: #3b3f5c;
    font-weight: 600;
}


/*
    Expenses
*/
#expenses-widget h6 {
    font-size: 26px;
    text-transform: uppercase;
    color: #3b3f5c;
}
#expenses-widget span.badge-success {
    vertical-align: middle;
    padding: 6px 22px;
    font-size: 15px;
    margin-left: 10px;
}
#expenses-widget p {
    font-size: 46px;
    color: #3b3f5c;
    font-weight: 600;
}


/*  
    Page Views
*/

.page-views .nav-pills { border-bottom: 1px solid #e9ecef; }
.page-views .nav-pills .nav-link { color: #888ea8; font-size: 17px !important; }
.page-views .nav-pills .nav-link.active,
.page-views .nav-pills .show>.nav-link {
    background-color: transparent;
    color: #1d1d1d;
}
.page-views .tab-content { padding: 17px; }
.page-views .tab-content .tab-pane #daily,
.page-views .tab-content .tab-pane #weekly,
.page-views .tab-content .tab-pane #month {
    margin: 35px auto 35px auto;
    width: 110px;
    height: 110px;
    position: relative;
}
.page-views .tab-content .tab-pane .daily { margin: 34px auto 34px auto; }
.page-views .tab-content .tab-pane .daily .d-count {
    font-size: 52px;
    font-weight: normal;
    color: #1d1d1d;
}
.page-views .tab-content .tab-pane .daily p {
    text-transform: uppercase;
    color: #888ea8;
    font-size: 14px;
}
.page-views .tab-content .tab-pane .weekly { margin: 34px auto 34px auto; }
.page-views .tab-content .tab-pane .weekly .w-count {
    font-size: 46px;
    font-weight: 100;
    color: #3b3f5c;
}
.page-views .tab-content .tab-pane .weekly p {
    text-transform: uppercase;
    font-weight: 600;
    color: #888ea8
}
.page-views .tab-content .tab-pane .month { margin: 34px auto 34px auto; }
.page-views .tab-content .tab-pane .month .m-count {
    font-size: 46px;
    font-weight: 100;
    color: #3b3f5c;
}
.page-views .tab-content .tab-pane .month p {
    text-transform: uppercase;
    font-weight: 600;
    color: #888ea8
}

@media (max-width: 1199px) {
    .last-trade { border-right: none; }
}
@media (max-width: 575px) {
    .first-trade, .total-trades { border-right: none; }
}